body{
    font-family: 'Work Sans', sans-serif;
}
.text-site, .text-site:hover{
    color: #10cab7;
}
.border-site{
    border-color: #10cab7!important;
}
.my-jumbatron{
    padding-bottom: 7rem!important;
}
.services{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.services-text{
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    z-index: 3;
}
.services > h5{
    color: #ebeced!important;
    font-size: 10em;
    font-weight: bolder;
    letter-spacing: -0.1em;
}
.text-backgrund{

}
.img-services{
    position: relative;
    top: -53px;
}
.bg-cards{
    background-color: #fafafa;
}
.img-card{
    height: 14rem;
}
.p-about{
    line-height: 2.8;
}
.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}
#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    transition: all 0.5s;
}

#sidebar.active {
    margin-left: -250px!important;
}
a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}
.header-title > h1{
    font-size: 55.432px;
    line-height: 1.207;
}
.header-title > div{
    line-height: 1.6;
    font-size: 20px;
}
section{
    height: 455px;
}
/*Image css*/
.square{
    width: 300px;
    height: 300px;
}
.rectangle{
    width: 150px;
    height: 400px;
    right: 20px;
    z-index: -2;
    top: -50px;
}
#sidebar{

}
.carousel-item{
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}
/*Responsive*/
@media screen and ( max-width: 767px)
{
    .services > h5{
        font-size: 6em!important;
    }
}